@import "../../node_modules/normalize.scss/normalize";

$color-violet: #b448fd;

html,
body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Arial, sans-serif;
  font-weight: 300;
}

.btn {
  display: block;
  width: 100%;
  background: transparent;
  color: $color-violet;
  border: 1px solid $color-violet;
  line-height: 1;
  padding: 8px 10px;
  transition: 0.1s;
  &:hover {
    background: $color-violet;
    color: #ffffff;
  }
  &:focus {
    outline: 0;
  }
}

#app {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-areas: "header sidebar"
                       "main sidebar";
  grid-template-columns: 1fr 300px;
  grid-template-rows: 100px 1fr;
  background-color: #1d1d1d;
}

.header {
  grid-area: header;
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    color: $color-violet;
    font-size: 2em;
    font-weight: 400;
    margin: 0;
    padding: 0;
    line-height: 1;
  }
}

.content {
  grid-area: main;
  display: flex;
  flex-direction: column;
  color: #fff;
  flex: 1;
  .filter {
    flex: 1;
  }
  .img-container {
    width: 100%;
    height: 100%;
  }
  .img {
    width: inherit;
    height: inherit;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
}

.sidebar {
  grid-area: sidebar;
  padding: 20px;
  background: #0e0e0e;
  color: #ffffff;
}

.widget {
  margin-bottom: 20px;
  h3 {
    margin: 0 0 20px;
    color: $color-violet;
    font-weight: 500;
  }
}

.settings {
  &__container {

  }

  &__item {
    margin-top: 5px;
    padding: 10px 0;
    border-bottom: 1px solid #3a3a3a;
    &:last-of-type {
      border-bottom: 0;
    }
  }
  label {
    display: flex;
    justify-content: space-between;
  }
  input[type="range"] {
    width: 100%;
  }
}

.add-image {
  .add-image__container {
    display: flex;
    flex-direction: column;
    input {
      height: 30px;
      padding: 2px;
      border: 0;
      margin-bottom: 5px;
      color: #000;
    }
  }
}